html body {
    background: #5C5151;
//    overflow:hidden;
}

#header {
    height:100px;
}

.header-bottom {
  position: relative;
  top: 85px;
  margin-left:  20px;
  margin-right: 20px;
  border-top:    1px solid #BABABA;
  border-bottom: 1px solid #6B696A;
}

.clj {
  display: inline-block;
  margin: 2px;
}

.map-entry {
  display: inline-block;
}

.map-key {
  display: inline-block;
}

.map-value {
  display: inline-block;
}

.map-separator {
  display: inline-block;
}

.map-separator:before {
  content: ", "
}

.nil:before {
  content: "nil";
}

.list:before {
  content: "(";
}

.list:after {
  content: ")";
}

.vector:before {
  content: "[";
}

.vector:after {
  content: "]";
}

.map:before {
  content: "{";
}

.map:after {
  content: "}";
}

.set:before {
  content: "#{";
}

.set:after {
  content: "}";
}
