html body {
    background: #5C5151;
}

#wrapper {
}

#main {
    margin: 0px auto;
    height: 600px;
    width: 95%;
}

#header {
    height:100px;
}

.header-bottom {
    position: relative;
    top: 85px;
    margin-left:  20px;
    margin-right: 20px;
    border-top:    1px solid #BABABA;
    border-bottom: 1px solid #6B696A;
}

.code-panel {
    position:relative;
    top:45px;
    padding: 20px;
    padding-top:10px;
    height:100%;
}

#source {
    float:left;
}

#trace {
    position:relative;
}
