.goog-roundedpanel {
  position: relative;
  z-index: 0;
}

.goog-roundedpanel-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.goog-roundedpanel-content {
}

.goog-combobox {
  background: #ddd url(//ssl.gstatic.com/closure/button-bg.gif) repeat-x scroll left top;
  border: 1px solid #b5b6b5;
  font: normal small arial, sans-serif;
}

.goog-combobox input {
  position:relative;
  top:-2px;
  background-color: #fff;
  border: 0;
  border-right: 1px solid #b5b6b5;
  color: #000;
  font: normal small arial, sans-serif;
  margin: 0;
  padding: 0 0 0 2px;
  vertical-align: bottom; /* override demo.css */
  width: 200px;
}

label, input {
  vertical-align: middle;
}

.goog-combobox input.label-input-label {
  background-color: #fff;
  color: #aaa;
}

.goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000; /* Arbitrary, but some apps depend on it... */
}

.goog-combobox .goog-menu {
  margin-top: -1px;
  width: 219px;  /* input width + button width + 3 * 1px border */
  z-index: 1000;
  background: #FFFFFF;
}

.goog-combobox-button {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  width: 16px;
}
